@keyframes scrollVertical {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

.infinite-vertical-cards.animate {
  animation: scrollVertical 25s linear infinite;
  will-change: transform;
}


.infinite-vertical-cards {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

.infinite-vertical-cards {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
